.contact{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('../../../images/travel.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.contact p{
  color: white;
  font-family: "Montserrat-Light";
  font-size: 35px;
}